<button (click)="onLogout()">Logout</button>
<button (click)="navigateToWatchlist()">Go to Watchlist</button>
<div class="anime-list-container">
  <div class="generate-button">
    <button (click)="getAnimeList()">Generate</button>
  </div>
  
  <div class="anime-cards">
    <div class="anime-card" *ngFor="let anime of animeList">
      <div class="anime-header">
        <h3>{{ anime.Title }}</h3>
        <p>Rating: {{ anime.Rating }}</p>
      </div>
      <div class="anime-info">
        <p><strong>Status:</strong> {{ anime.Status }}</p>
        <p><strong>Episode Count:</strong> {{ anime['Episode Count'] }}</p>
        <p><strong>Episode Length:</strong> {{ anime['Episode Length'] }} min</p>
        <p><strong>Release Year:</strong> {{ anime['Release Year'] }}</p>
      </div>
      <div class="anime-description">
        <p>{{ anime.Description }}</p>
      </div>
    </div>
  </div>
</div>
