
<mat-tab-group dynamicHeight (selectedIndexChange)="resetSearchBar()">
	<mat-tab label="Genres">
		<div class="scrollable-content">
			<label class="genre-label" *ngFor="let genre of filteredGenres">
				<input type="checkbox" [value]="genre.name" 
				[checked]="selectedGenres.includes(genre.name)" 
				(change)="onGenreCheckboxChange(genre.name, $event)">
				{{ genre.name }}
			</label>
		</div>
	</mat-tab>

	<mat-tab label="Studios">
		<div class="scrollable-content">
			<label class="studio-label" *ngFor="let studio of filteredStudios">
			  <input type="checkbox" [value]="studio.name" 
					 [checked]="selectedStudios.includes(studio.name)" 
					 (change)="onStudioCheckboxChange(studio.name, $event)">
			  {{ studio.name }}
			</label>
		  </div>
	</mat-tab>
</mat-tab-group>

<div class="button-container">
	<input type="text" [(ngModel)]="searchText" placeholder="Search..." class="search-bar">
	<button (click)="confirmSelection()">Confirm</button>
</div>
