<!-- user-settings.component.html -->
<button (click)="onLogout()">Logout</button>
<button (click)="navigateToWatchlist()">Go to Watchlist</button>
<button (click)="navigateToAnimeList()">Go to Animelist</button>
<div class="user-settings">
  <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <!-- Change Email Section -->
    <div class="settings-section">
      <h2>Change Email</h2>
      <input formControlName="email" id="email" type="text" placeholder="Email" class="input-field" />
      <button type="submit" class="action-button">Submit</button>
    </div>

    <!-- Change Username Section -->
    <div class="settings-section">
      <h2>Change Username</h2>
      <input formControlName="username" id="username" type="text" placeholder="Username" class="input-field" />
      <button type="submit" class="action-button">Submit</button>
    </div>

    <!-- Change Password Section -->
    <div class="settings-section">
      <h2>Change Password</h2>
      <div class="form-group password-group">
        <input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword" id="currentPassword" placeholder="Current Password" class="input-field password-input" />
        <span class="toggle-password" (click)="toggleCurrentPasswordVisibility()">{{ showCurrentPassword ? 'Hide' : 'Show' }}</span>
      </div>
      <div class="form-group password-group">
        <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" id="newPassword" placeholder="New Password" class="input-field password-input" />
        <span class="toggle-password" (click)="toggleNewPasswordVisibility()">{{ showNewPassword ? 'Hide' : 'Show' }}</span>
      </div>
      <div class="form-group password-group">
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" class="input-field password-input" />
        <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">{{ showConfirmPassword ? 'Hide' : 'Show' }}</span>
      </div>
      <button type="submit" class="action-button">Submit</button>
    </div>

    <!-- Delete Account Section -->
    <div class="settings-section delete-account">
      <button (click)="confirmDeleteUser()" class="delete-account-button">Delete Account</button>
    </div>
  </form>
</div>
